body{
    background: linear-gradient(rgba(0,0,50,0.2),rgba(0,0,50,0.2)),url(loginpic1.jpg);
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}

.login-style{
    background: rgba(211,211,211,0.5);
    padding: 30px;
    font
}

.login-logo{
    background-image:  url(TMSlogo1.png);
}